section
  .flex.flex--center
    .col-1
      p Lorem upsum dolor sit amet, consectetur adpicing
      
    .col-1
      p Lorem upsum dolor sit amet, consectetur adpicing
    
    
section
  .flex.flex--space-around
    .col-1
      p Lorem upsum dolor sit amet, consectetur adpicing
      
    .col-1.order-first
      p CTA Lorem upsum dolor sit amet, consectetur adpicing
        
section
  .flex.flex--space-around
    .col-2
      p Lorem upsum dolor sit amet, consectetur adpicing elit, sed do eisadkfl na fkladfnalk;fmnalsdmflamsdflkmasdlkf,maksd,fkamsd askdfnma  a aksnfm as 


section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p Lorem upsum dolor sit amet, consectetur adpicing
        
    .col-50
      p CTA Lorem upsum dolor sit amet, consectetur adpicing
