mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#Projects") Projects
    li: a(href="#Photography") Photography
    li: a(href="#Resume") Resume
    li: a(href="#Contact") Contact
    li: a(href="#About") About

.mobile-nav
  +nav-content()


header
  .header-position
    h1.parent 
      div.child AC
    
    nav.site-nav
      +nav-content()
      
    a(href="mailto:archow@stanford.edu").email-link +email me
    
    .mobile-nav-toggle: span
