mixin nav-lang()
  ul
    li 
      b LANGUAGES
    li Python 
    li C++
    li Javascript
    li Java
    li HTML 
    li CSS/Sass 
    li C
    li Swift

mixin nav-frameworks()
  ul
    li 
      b Frameworks
    li Flask 
    li Node
    li Angular
    li React
    li Firebase
    

mixin nav-tools()
  ul
    li 
      b TOOLS
    li Git & Github
    li Bash
    li MongoDB
    li Unix
    
    
mixin nav-design()
  ul
    li 
      b DESIGN
    li Sketch
    li InVision
    li Wireframing
    li Prototyping
    li User Testing
    
section.about
  .flex.flex--center
    .flexCol.flex--center
      .container.flex
        .col-left
          p.about 
            b BACKGROUND
          
        .col-right
          p.info 
            | I'm currently a rising junior at 
            b Stanford University
            |, majoring in Computer Science with a specialization in 
            b Artifical Intelligence
            |. On campus, I am a part of the CS + Social Good Studio teaching team, in which I lead a class of 30 students in creating their own social good projects.
          p.info As a software engineer, I enjoy bridging the gap between engineering and design - combining my technical knowledge with visual artistry to create a beautiful product. My goal is to always build scalable and efficient applications while providing engaging user experiences. 
          p.info 
            b When I'm not in front of a compouter screen, 
            | you can find me playing basketball, taking photos, or crossing off another item on my bucket list!

      .container.flex
        .col-left
          p.about 
            b SKILLS
            
        .col-right
          .flex.flexSpace
              .flexCol
                nav.lang
                  +nav-lang()
                
              .flexCol
                nav.lang
                  +nav-frameworks()
                
              .flexCol
                nav.lang
                  +nav-tools()
                
              .flexCol
                nav.lang
                  +nav-design()
