section.about
  background: #171c28
  // F8F4E3, ECEBE4
  color: #afafbf
  // 3f3f42

  .lang
    ul
      list-style: none
      margin: 0
      padding: 0

    li
      text-align: left
      font-size: 0.9rem

.title
  letter-spacing: 1px
  margin-bottom: 10px

.white
  color: #e7e7e7

.resume
  color: #e7e7e7
  font-weight: bold
  margin-right: 50px
  a
    color: #e7e7e7
    font-size: 1.1rem

.aboutTitle
  color: #007bff
  letter-spacing: 2px
  margin-bottom: 10px

  .experiences
    ul
      list-style: none
      margin: 0
      padding: 0

    li
      text-align: center
      font-size: 1rem

.aboutpara
  margin-bottom: 40px

.info
  margin: 0

.date
  text-align: right
  font-size: 0.9rem
